@import '../../css/colors.scss';

.button {
  border-radius: 50%;
  color: colors(primary, default);
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  padding: 10px;
  position: fixed;
  z-index: 100;
  right: 32px;
  bottom: 32px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
